{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Bienvenido al Sistema</h2>

    <p>Selecciona una opción:</p>

    <a href="{% url 'lista_autores' %}">
        <button>Ver Autores</button>
    </a>

    <a href="{% url 'lista_libros' %}">
        <button>Ver Libros</button>
    </a>

    <a href="{% url 'autor_list' %}">
        <button>Autores (Genéricas)</button>
    </a>

    <a href="{% url 'libro_list' %}">
        <button>Libros (Genéricas)</button>
    </a>
</div>
{% endblock %}